
<html>
<head>
    <meta charset="UTF-8">
    <title>Football Kakis</title>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="/"><img id="logo"  src="/image/logo.png" alt=""> </a></li>

                <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Home </a></li>

                <li><a href="/menu/organise"><i class="fa fa-users"></i> Organise Games</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class ="fa fa-smile-o"></i> Join Games <span ></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/menu/book">Play Now</a></li>
                        <li><a href="/menu/book">Play Near You</a></li>
                        <li><a href="/menu/book">Show me ALL !</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="fa fa-television"></i> Watch</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i> Shop</a></li>
                
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="/menu/login">Login/Sign Up</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-male fa-lg" ></i>  Account <span ></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/menu/profile">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">See your ratings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{{ body }}}

</body>
