
<link rel="stylesheet" href="/book.css">

<div class="organise">
    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Join our Games</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-search-plus"></i> Search</legend>
                    <label>Choose Location</label>
                    <div class="col-md-2">
                    <div class="checkbox-inline" >
                        <label><input type="checkbox" value="locationall" id="locationall" name="locationall"> All</label>
                    </div>
                    </div>
                    <div class="col-md-2">
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value="north" id="north" name="north"> North</label>
                    </div>
                    </div>
                        <div class="col-md-2">
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value="south" id="south" name="south"> South</label>
                    </div>
                        </div>
                            <div class="col-md-2">
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value="east" id="east" name="east"> East</label>
                    </div>
                            </div>
                    <div class="col-md-2">
                    <div class="checkbox-inline">
                        <label><input type="checkbox" value="west" id="west" name="west"> West</label>
                    </div>
                    </div>
                    <br>

                    <div>
                        <label for="location">Choose Days</label>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="any" id="any" name="any"> All</label></div></div>

                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="monday" id="monday" name="monday"> Monday</label></div></div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="tuesday" id="tuesday" name="tuesday"> Tuesday</label></div></div>
                        <div class="col-md-3">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="wednesday" id="wednesday" name="wednesday"> Wednesday</label></div></div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="thursday" id="thursday" name="thursday"> Thursday</label></div></div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="friday" id="friday" name="friday"> Friday</label></div></div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="saturday" id="saturday" name="saturday"> Saturday</label></div></div>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="sunday" id="sunday" name="sunday"> Sunday</label></div></div>
                        <br><br><br>

                        <label for="pitch">Pitch Type</label>
                        <div class="col-md-2">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="anypitch" id="anypitch" name="anypitch"> All</label></div></div>
                        <div class="col-md-3">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="5aside" id="5aside" name="5aside"> 5 a side</label></div></div>
                        <div class="col-md-3">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="7aside" id="7aside" name="7aside"> 7 a side</label></div></div>
                        <div class="col-md-3">
                            <div class="checkbox-inline">
                                <label><input type="checkbox" value="11aside" id="11aisde" name="11aside"> 11 a side</label></div></div>
                        <br>
                        </div>
                </fieldset>
                <fieldset>
                    <legend><i class="fa fa-gamepad"></i> Games</legend>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-1">Choose Game</th>
                            <th class="col-md-1">Date</th>
                            <th class="col-md-1">Time</th>
                            <th class="col-md-1">Venue</th>
                            <th class="col-md-1">Pitch</th>
                            <th class="col-md-1">Duration (Hours)</th>
                            <th class="col-md-1">Cost per Player</th>

                        </tr>
                        </thead>
                    </table>
                </fieldset>


            </div>

        </form>
    </div>
</div>