<link rel="stylesheet" href="/index.css">

<div class="jumbotron">
    <div class="container">
    </div>
</div>
<div class="container">


<h1>Are you ready for new Challenge?</h1>
<p class="lead">Don't wait any longer and <a href="/menu/organise" target="_blank">Join Games now!</a></p>

</div>