<link rel="stylesheet" href="/organise.css">

<div class="organise">
    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Organise a Game</h2>

            </div>
            <div class="form-body">
                <h4><i class="fa fa-exclamation"></i> Note: You must have a venue booking and you are required to provide proof in this page</h4>
                <fieldset>
                    <legend><i class="fa fa-globe"></i> Venue Information</legend>
                    <div>
                        <label for="location">Enter Venue Location</label>
                        <input type="text" name="location" id="location" placeholder=" Venue Location">
                    </div>
                    <label>Add Venue Image</label>
                    <div id="upload-area">
                        <form action="/playground/ajax_upload" id="newHotnessForm">
                            <input type="file" size="20" id="imageUpload" class=" ">
                        </form>
                    </div>
                    <div>
                        <label for="pitch">Enter Pitch/Court info </label>
                        <input type="text" name="location" id="pitch" placeholder=" Pitch / Court information (e.g. pitch 3)">
                    </div>
                    <label>Select only one option</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> 5 A SIDE (10-15 players recommended)
                    </label><br>
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> 7 A SIDE (14-21 players recommended)
                    </label><br>
                    <label class="radio-inline">
                        <input type="radio" name="optradio"> 11 A SIDE (22-33 players recommended)
                    </label><br>
                </fieldset>
                <fieldset>
                    <legend><i class="fa fa-gamepad"></i> Game Information</legend>
                    <label for="date">Date and Time</label>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input type="text" name="date" id="date" class="form-control " placeholder="Date (e.g. 2016/04/20)" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input type="text" name="start_time" id="start_time" class="form-control " placeholder="Start Time (e.g. 19:00)" tabindex="2">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input type="text" name="end_time" id="end_time" class="form-control" placeholder="End Time (e.g. 21:00)" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <label for="numplayer">Min and Max number of Players allowed</label>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="numplayer" id="numplayer" class="form-control " placeholder="State minimum number of Players" tabindex="2">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="maxplayer" id="maxplayer" class="form-control" placeholder="State maximum number of Players" tabindex="2">
                        </div>
                    </div>
                    <label for="price">Price per Booking</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">.00</span>
                    </div>
                    <label>Show proof of venue booking (Note: This image will be shown to all in game listing)</label>
                    <div id="venue">
                        <form action="/playground/ajax_upload" >
                            <input type="file" size="20" id="venuebooking" class=" ">
                        </form>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="submit" value="Submit" class="btn btn-success btn-block btn-lg" ></div>

                    <div class="col-xs-6 col-md-6"><input type="submit" value="Go Back" class="btn btn-primary btn-block btn-lg" ></div>
                </div>
            </div>



        </form>
    </div>
</div>
    