

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

* {
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

.organise {
    background-color: #797979;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 15px;
    max-width: 600px;
    width: 100%;
}

.wrap form {
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.form-header {
    background-color: limegreen;
    border-radius: 4px 4px 0 0;
    padding: 1em;
}

.form-header h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    margin: 0;
}

.form-body {
    background-color: #fff;
    padding: 1em;
}

.form-body label,
.form-body input,
.form-body select,
.form-body textarea {
    display: block;
    width: 100%;
}

.form-body label {
    font-size: .8em;
    font-weight: 700;
    line-height: 1;
    margin: .75em 0 .25em;
}

.form-body input,
.form-body select,
.form-body textarea {
    background-color: #f4f4f4;
    border: none;
    border-radius: 4px;
    padding: .25em;
}

.form-body fieldset {
    border: none;
    margin: 0 0 1em;
    padding: 0;
}

.form-body fieldset:last-of-type {
    margin-bottom: 0;
}

.form-body fieldset legend {
    font-size: 1.25em;
    font-weight: 700;
}

.form-footer {
    background-color: #e2e2e2;
    border-radius: 0 0 4px 4px;
    padding: 1em;
}

.form-footer input[type="submit"] {
    background-color: #bff268;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 1em 1.5em;
}

/******** Subscription option actions ********/

.sub-opts input[name="subscription"] {
    display: none;
}

.sub-opts input[name="subscription"] + .sub-opt {
    background-color: #f4f4f4;
    border-radius: 4px;
    font-weight: 700;
}

.sub-opts input[name="subscription"]:checked + .sub-opt {
    background-color: #09C775;
    color: #fff;
}

.sub-opts input[name="subscription"] + .sub-opt .sub-label .fa {
    display: none;
}

.sub-opts input[name="subscription"]:checked + .sub-opt .sub-label .fa {
    display: inline-block;
}

.sub-opts .sub-opt .sub-label {
    display: block;
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
}

.sub-opts .sub-opt .sub-label span.price {
    display: inline-block;
    float: right;
}
#preview {
    background-color: green;
}

@import "compass/css3";



* {
    box-sizing: border-box;
}

.dates-wrapper {
    background: #f0f0f0;
    padding: 1em 1em 0 1em;
    display: inline-block;
}

.input-text {
    background-color: #ffffff;
    padding: 2px 10px;
    color: #333;
    border: 1px solid #dddddd;
    outline: none;
    vertical-align: middle;
    height: 36px;
    border-radius: 0;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.date-wrapper {
    position: relative;
    margin: 0 42px 10px 0;
    display: inline-block;
}
.label {
    float: left;
    display: inline-block;
    margin-right: 28px;
    padding-top: 10px;
}
.input {
    font-size: 15px;
    color: #333;
    max-width: 172px;
    float: left;
    margin-right: 10px;
}
input {
    float: left;
    width: 100%;
    padding: 2px 10px;
}

.calendar-btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    float: left;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/icon-calendar-72x72.png);
    background-repeat: no-repeat;
    background-size: 36px 36px;
}


.pika-single {
    position: absolute;
    top: 40px;
}
.pika-title {
    color: #444;
}
.is-selected .pika-button {
    border-radius: 0;
    box-shadow: none;
    background: #ecb24f;
}
.pika-table tbody td {
    border: 1px solid #b9b9b9;
}
.pika-button:hover {
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #868686 !important;
}
.is-today .pika-button {
    color: #ecb7af;
}
.is-today.is-selected .pika-button {
    color: #fff;
}


.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}