
.jumbotron {
    position: absolute;
    background: #000 url("/image/messironaldo.jpg") center center;
    top: -0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity:0.5;
}

h1 {
    color: white;
}


li {
    color: white;

}