
#logo {
    max-width: 200px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    position: relative;
    top: -10px;


}

.navbar-inverse {
    background: transparent;
    border-color: transparent;
    color: white !important;
    font-size: 18px;
}


